/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

.paticka {
	text-align: center;
	font-size: 14px;
	color: silver;
}

.paticka a {
	color: silver;
}

/* -------------------------------------------------- */

/*
Responzivní breakpointy:
Mobil:		0 - 479px
Tablet:		480px - 859px
Počítač:	860px a víc

Chrome a některé další prohlížeče nejdou zmenšit pod určitou šířku, takže je možné, že ti nepůjde zmenšit tolik, aby se aktivovala mobilní verze. Pokud se ti to stane, změň si v kódu hranici mezi mobilem a tabletem třeba na 600px, nebo aktivuj v prohlížeči vývojářské nástroje s mobilním náhledem, kde může nastavovat jakoukoliv velikost (i malou).

Obrázky pro jednotlivé recepty jsou ve složce images.
Nastav je receptům jako obrázky na pozadí (tj. nepřidávej je jako <img> do HTML)

Na rozložení prvků NEPOUŽÍVEJ absolutní pozicování, ale pouze flexboxy.
Flexboxy mohou být vnořené do sebe, klidně několikrát.
*/

body{
	color:#fff;
}

h2{
	margin-bottom: 0;
	font-family: 'Raleway', sans-serif;
}

.hlavni-recept {
	min-height: 200px;
	background: linear-gradient(#00000066, #00000033), url(images/salat.jpg);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.popis {
	display: flex;
	justify-content: space-between;
}

.kontejner h2 {
	font-weight: 800;
}
.hlavni-recept h2 {
	font-size: 28px;
}
.recept h2 {
	font-size: 18px;
}

.druh-jidla,
.komentar {
	font-size: 14px;
	font-weight: 400;
}

.recept{
	min-height: 90px;
	padding: 10px;
	border-top: 1px solid #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.recept-1{
	background: linear-gradient(#00000066, #00000033), url(images/chlebicek.jpg);
}
.recept-2 {
	background: linear-gradient(#00000066, #00000033), url(images/tacos.jpg);
}
.recept-3 {
	background: linear-gradient(#00000066, #00000033), url(images/cizrna.jpg);
}
.recept-4 {
	background: linear-gradient(#00000066, #00000033), url(images/burger.jpg);
}

.recept-1,
.recept-2,
.recept-3, 
.recept-4 { 
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

@media screen and (min-width: 480px){
	.hlavni-recept {
		min-height: 250px;
		padding: 20px;
	}
	.hlavni-recept h2 {
		font-size: 36px;
	}
	.recept h2 {
		font-size: 22px;
	}
	.maly-recept {
		display: flex;
		flex-wrap: wrap;
	}	
	.recept{
		min-height: 150px;
		padding: 20px;
		flex: 1 1 calc(100% / 2);
	}
	.recept-1,
	.recept-3 {
		border-right: 1px solid #fff;
	}
}

@media screen and (min-width: 860px){
	.kontejner {
		display: flex;
	}
	.hlavni-recept{
		min-height: 400px;
		flex: 1 1 33vw;
		border-right: 1px solid #fff;
	}
	.maly-recept {
		flex: 1 1 67vw;
	}
	.recept {
		min-height: 200px;
	}
	.hlavni-recept h2 {
		font-size: 48px;
	}
	.recept h2 {
		font-size: 28px;
	}
	.recept-1,
	.recept-2 {
		border-top: 0;
	}
}